@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <form action="/Home/Index" method="post">
        <div class="col-md-3 form-horizontal">
            <br />
            <input type="number" class="form-control" name="pNum" placeholder="primer numero" required autofocus>
            <br />
            <input type="number" class="form-control" name="sNum" placeholder="segundo numero" required>
            <br />
            <button class="btn btn-primary" type="submit">
                Sumar
            </button>
        </div>
        <div class="col-md-3 form-horizontal">
            <br />
            <p><a href="https://asp.net" class="btn btn-primary btn-lg"><b>@ViewData["suma"]</b></a></p>
            

        </div>
    </form>
</div>